################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IGME219/UnityProp/Library
/IGME219/UnityProp/Logs
/IGME219/UnityProp/Packages
/IGME219/UnityProp/ProjectSettings
/.vs/CMakeWorkspaceSettings.json
/IGME219/P05/FinalProject/Library
/IGME219/P05/FinalProject/Logs
/IGME219/P05/FinalProject/Packages
/IGME219/P05/FinalProject/ProjectSettings
/.vs/ArtAssets/FileContentIndex
/IGME219/P05/FinalProject/Assets/Standard Assets
/IGME219/P05/FinalProject/Assets/SampleScenes
/IGME219/P05/FinalProject/Assets/Standard Assets
/IGME219/P05/FinalProject/UserSettings
/IGME219/P05/FinalProject/UserSettings/Layouts
/.vs/ArtAssets/v17/Browse.VC.opendb